{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}

<article class="container-fluid mt-3">
    <section class="callout jumbotron text-center">
        <h1>Helping young men improve their life</h1>
        <p>Sign up & get access to valuable content
            <s class="d-none d-sm-inline">$9.99 monthly!</s>
            <span class="d-inline d-sm-none"><br></span>
            <strong><mark>December Deal: $4.99 monthly!</mark></strong></p>
        <button class="btn btn-dark">Let's Improve!</button>
        <p class="text-muted"><small><strong>Membership fee</strong> of $10.00 will be added first month
                only</small></p>
    </section>
    <hr>
    <section class="motivation">
        <div class="row">
            <div class="col-12 my-5">
                <h2 class="why">Why should I improve my life?</h2>
                <div class="motivation-quote">
                    <p class="text-uppercase">Masculinity is on the verge of extinction today. Honor your family by
                        becoming a strong masculine figure. Take action & accountability. 
                        The feeling of having other men respect you & women admire you is unbeatable. Join the movement today!</p>
                </div>
            </div>
        </div>
        <hr>
    </section>
    <section class="quotes">
        <h2>The four core components for Masculinity</h2>
        <div class="container-fluid">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
              <div class="col-12 col-md-6">
                <div class="quote">
                    <div class="media">
                        <img src="{% static 'images/strength1.jpg' %}" class="rounded-circle img-responsive mr-3" height="100"
                            width="100">
                        <div class="media-body">
                            <h3>Strength</h3>
                            <p>Remember when you watched all the cartoon movies or read those comic books?
                                Why did you like the main character or superhero so much?
                                Today we don't see that sort of Strength being showcased in media or even in real
                                life.
                                I mean, when was the last time YOU stod up to something or someone?
                            </p>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="quote">
                    <div class="media">
                        <img src="{% static 'images/honor.jpg' %}" class="rounded-circle img-responsive mr-3" height="100"
                            width="100">
                        <div class="media-body">
                            <h3>Honor</h3>
                            <p>Honor is the act of standing ten toes down on things that you believe in.
                                Don't do it for validation, do it for yourself or your family.
                            </p>
                        </div>
                    </div>
                </div>
              </div>
               <div class="col-12 col-md-6">
                    <div class="quote">
                        <div class="media">
                            <img src="{% static 'images/courage.jpg' %}" class="rounded-circle img-responsive mr-3" height="100"
                            width="100">
                            <div class="media-body">
                                <h3>Courage</h3>
                                <p>Doing things regardless of reaction.
                                    When we do things and people or even the whole world judges us,
                                    will we back down or keep our head up?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="quote">
                        <div class="media">
                            <img src="{% static 'images/mastery.jpg' %}" class="rounded-circle img-responsive mr-3" height="100"
                            width="100">
                            <div class="media-body">
                                <h3>Mastery</h3>
                                <p>Having a arsenal of knowledge or attributes is a very crucial part of being a man in
                                    todays
                                    society.
                                    It has always been admirable when a man knows how to operate in life with several
                                    skills.
                                    These things can be anything, how to program, building something physical, surviving
                                    in the
                                    wilderness etc.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
     <!-- FIND HOW TO MAKE MEMBERSHIP SECTION INLINE -->
     <section class="subscription">
        <h3 class="text-uppercase">Memberships</h3>
        <div class="col-12 col-md-6 col-lg-4 my-3">
            <br>
            <h4>Free</h4>
            <ul>
                <li>Access to over 100+ videos</li>
                <li>Free weekly tips</li>
                <li>Random offers on our products</li>
            </ul>
        </div>
        <div class="col-12 d-md-inline d-lg-inline col-lg-4 my-3">
            <br>
            <h4>Silver <span class="badge badge-info">December Deal</span></h4>
            <ul>
                <li>Exclusive videos</li>
                <li>50% discount on merch</li>
                <li>Zoom Meeting call up to 2x weekly</li>
                <li>Invitation to WhatsApp group chat</li>
                <li>Free weekly tips</li>
                <li>Random offers on our products</li>
            </ul>
        </div>
        <div class="row">
            <br>
            <h4>Gold</h4>
            <ul>
                <li>1on1 calls with creators</li>
                <li>Free hoodie & e-book</li>
                <li>Zoom Meeting call up to 2x weekly</li>
                <li>Exclusive videos</li>
                <li>Invitation to WhatsApp group chat</li>
                <li>Free weekly tips</li>
                <li>Random offers on our products</li>
            </ul>
        </div>

    </section>
</article>


<div class="container-fluid">
    <div class="row">
        <div class="col-12 mx-auto">
            <a href="{% url 'add_review' %}" class="btn btn-dark">Leave review!</a>
        </div>
    </div>
    <div class="row">

        <!-- loop the reviews -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for review in review_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in review.featured_image.url %}
                                <img class="card-img-top"
                                    src="{% static 'images/me_kurdistan.png' %}">
                                {% else %}
                                <img class="card-img-top" src=" {{ review.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ review.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'review' review.slug  %}" class="post-link">
                                <h2 class="card-title">{{ review.title }}</h2>
                                <p class="card-text">{{ review.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ review.created_on}} <i class="far fa-heart"></i>
                                {{ review.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}