/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* General Style rules */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: none;
}

body {
  color: #ffffff;
  background-color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 70px;
    color: #000000;
  }

h2 {
  font-size: 36px;
}

h3 {
  font-size: 26px;
}

.container-ny {
  max-width: auto;
  margin: 0 auto;
}


.bg-img {
  width: 100%;
  height: auto;
}

.img-header {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
}


.img-h2 {
  text-transform: uppercase;
}
.banner {
  text-align: center;
  padding-bottom: 100px;
}


.btn {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 60px;
  background-color: #fafafa;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  z-index: 9;
  margin-top: 50px;
  transition: all ease 0.5s;
}

.btn:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgb(255, 255, 255);
  opacity: 0.9;
  z-index: -1;
  transition: all ease 0.5s;
}

.btn:hover {
  color: #fafafa;
}

.btn:hover:before {
  top: 0;
  height: 100%;
}

.brand-logo {
  padding: 30px 0;
}

.brand-logo-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding-left: 80px;
}


.sec1 {
  position: relative;
  padding: 80px 0;
}

.sec1 h2 {
  text-transform: uppercase;
  line-height: 40px;
}

.sec1 p {
  line-height: 32px;
}

.sec1-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.sec1 .text-left {
  text-align: center;
}

.sec1 .text-right {
  text-align: center;
}

.sec1-img {
  max-width: 100%;
  height: 30vh;
}

.sec1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to left, transparent, #ffffff, transparent);
}

.sec2 {
  position: relative;
  padding: 80px 0;
}

.sec2 h2 {
  text-transform: uppercase;
  line-height: 40px;
}

.sec2 p {
  line-height: 32px;
}

.sec2-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.sec2 .text-left {
  text-align: center;
}

.sec2 .text-right {
  text-align: center;
}



.sec2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to left, transparent, #ffffff, transparent);
}

.sec2 .text-inner:before {
  content: '';
  position: absolute;
  top: 8px;
  left: -30px;
  width: 1px;
  height: 100%;
  background: linear-gradient(to top, transparent, #ffffff);
}

video {
  margin-top: 40px;
  justify-content: center;
}

.left-right-sec:nth-child(even) .text {
  margin-right: -65px;
  text-align: right;
}

.left-right-sec:nth-child(even) .text-inner {
  margin: 55px 190px 0 0;
}

.left-right-sec:nth-child(even) .text-inner:before {
  left: inherit;
  right: -30px;
}


.subscription {
  justify: inline-block;
}
