body{
    color: #000000;
    background-color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
  }
  h1,h2,h3,h4,h5,h6{
    font-family: "Poppins", sans-serif;
  }
  h1 {
    font-size: 70px;
    color: #fafafa;
  }
  h2{
    font-size: 36px;
  }
  h3{
    font-size: 26px;
  }
  .img-text{
    color: #fafafa;
  }
  .container-ny{
    max-width: 1166px;
    margin: 0 auto;
  }
  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
  }
  header ul{
    padding-left: 0;
  }
  header ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
  }
  
  header ul li a{
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    transition: all ease 0.5s;
  }
  header ul li a:hover{
    transition: ease-in-out 0.6s;
    transform: scale(1.2);
  }
  .banner {
    height: 100vh;
    background: url(../images/me_photobooth.jpg) no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
  }
  .banner .text-ny{
    text-align: center;
    padding-bottom: 100px;
  }
  .banner h1{
    line-height: 80px;
    font-weight: 300;
    margin-bottom: 10px;
  }