body{
    color: #000000;
    background-color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
  }
  h1,h2,h3,h4,h5,h6{
    font-family: "Poppins", sans-serif;
  }
  h1 {
    font-size: 70px;
    color: #fafafa;
  }
  h2{
    font-size: 36px;
  }
  h3{
    font-size: 26px;
  }
  .img-text{
    color: #fafafa;
  }
  .container-ny{
    max-width: 1166px;
    margin: 0 auto;
  }
  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
  }
  header ul{
    padding-left: 0;
  }