{% extends 'base.html' %}
{% load static %}
{% block content %}


<section class="banner">
    <div class="container-ny">
            <div class="img-text">
                <img src="{% static 'images/berg_img.jpg' %}" alt="picture of me standing in my city" class="bg-img">
                <h1 class="img-header"><strong>Welcome!</strong></h1>
            </div>
            <h2 class="img-h2">Your guide to Self-improvement</h2>
        </div>
    </div>
</section>
<section class="brand-logo">
    <div class="container-ny">
        <div class="brand-logo-inner">
            <h5>Finance</h5>
            <h5>Health</h5>
            <h5>Fitness</h5>
            <h5>Fashion</h5>
        </div>
    </div>
</section>
<!-- First hook (marketing) -->
<section class="sec1">
    <div class="container-ny">
        <div class="sec1-in">
            <div class="text text-left">
                <h2><strong>ACNE TREATMENT</strong>
                </h2>
            </div>
            <div class="text text-right">
                <p>If you struggle with acne and have no other solutions left than to take medications... I GOt THE SOLUTION!
                    Below here you can see my own issues with acne, this strategy is 100% guaranteed to work.
                    No magic tricks, no extra money, all it takes is a simple way to figure out which foods your body reacts to.
                    If you buy the <a href="{% url 'membership' %}">MEMBERSHIP</a> here and book a FREE call with me, 
                    you will see results within weeks AND feel amazing!</p>
            </div>
        </div>
        <div>
            <img class="sec1-img" src="{% static 'images/acne_noacne.jpg' %}" alt="">
        </div>
    </div>
</section>
<!-- Second hook (marketing) -->
<section class="sec2">
    <div class="container-ny">
        <div class="sec2-in">
            <div class="text text-left">
                <h2><strong>FAT LOSS</strong></h2>
                    <p>As you can see in this progress video, I have also been <em>overweight.</em>I really
                        struggled with losing weight/fat and <strong>build muscle</strong> at the same time.
                        But once I applied the knowledge that <strong>YOU</strong> will learn about, everything
                        changed.
                        Some may call it "strict", however, I would call it the proper human diet. A diet where
                        you feed the body the essential
                        nutrients needed to both preserve muscle mass but also <em>build it.</em>
                    </p>
            </div>
            <div>
                <video width="320" height="240" controls>
                    <source src="{% static 'videos/progress-vid.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</section>     
{% endblock content %}